
<section class="best-product">
  <div class="divider"></div>
  <div class="container">
    <h1 class="white">محصولات برتر</h1>
    <div class="row col-2">
      <!-- first card -->
      {{#each solars}}

        <div class="card">
          <div class="card-image">
            <img src="/uploads/{{getImage images 0}}" alt="" />
            <div class="info">
              <h1>مشخصات</h1>
              <div class="info-detail">
                <p>حجم مخزن : {{tankVolume}}</p>
                <p>وکیوم : {{vacum}}</p>
                <p>مخزن داخلی : {{internalTank}}</p>
                <p>مخزن خارجی : {{externalTank}}</p>
                <p>لایه عایق کننده : {{insulationLayer}}</p>
                <a class="btn btn-primary" href="/products/single/{{_id}}">مشاهده بیشتر</a>
              </div>
            </div>
          </div>
          <div class="card-body">
             <h1><a href="/products/single/{{_id}}">آبگرمکن مدل {{modelName}}</a></h1>
            <p>
              {{texttruncate desc 150}}
            </p>
            <div class="card-btn">
              <a
                href="/order/{{_id}}"
                class="btn btn-secondary hover-darken"
              >همین حالا سفارش بدهید</a>
              <i class="fas fa-shopping-cart"></i>
              {{{adminFeature ../user _id}}}
            </div>
          </div>
        </div>
      {{/each}}
      <!-- end of first card -->
    </div>

     
  </div>
</section>